<div id="page-content">
  <did class="container" id="home-container" id="fondo">
    <div class="p-5 mb-4 bg-light rounded-3"> 
      <div class="container-fluid py-5">
        <h1 class="desplay-5 fw-bold text-center">Hello, world!</h1>
        <p class="col-md-8 fs-4">
          hello everyone today
        </p>
        <hr class="my-4">
        <p>Mora here</p>
        <button class="btn btn-succes btn_lg" type="button">More information</button>
      </div>
    </div>
  </did>


</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>

